@model List<Animal>
@{
    ViewData["Title"] = "Home Page";
}
@*<head>
    <style>
        body {
            background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Foercommons.s3.amazonaws.com%2Fmedia%2Fcourseware%2Flesson%2Fimage%2FPets_LDDMenw.jpg&f=1&nofb=1&ipt=6f3ed8eeba1213509417b73eb3f0c0d3166d0575aae524cf173ed177f17a59a9&ipo=images");
            background-repeat: no-repeat;
            /*background-size: cover;*/
        }
    </style>
</head>*@

<h1 class="text-center">Joshua's Pet Sanctuary</h1>

<div style="text-align:center">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Foercommons.s3.amazonaws.com%2Fmedia%2Fcourseware%2Flesson%2Fimage%2FPets_LDDMenw.jpg&f=1&nofb=1&ipt=6f3ed8eeba1213509417b73eb3f0c0d3166d0575aae524cf173ed177f17a59a9&ipo=images" style= "border-radius: 50%;" />
</div>

@{
    if (!string.IsNullOrEmpty(ViewBag.AdoptionMessage))
    {
        <div class="alert alert-success">
            @ViewBag.AdoptionMessage
        </div>
    }
}


<h2 class="text-center">Creating Forever Homes All Around the World</h2>
<form method="post" action="/Home/Results">
    <label for="breed">Select a breed:</label>
    <select id="breed" name="breed">
        <option value="Beagle">Beagle</option>
            <option value="Boxer Bulldog">Boxer Bulldog</option>
            <option value="Cat">Cat</option>
            <option value="Lab">Lab</option>
            <option value="Pitbull">Pitbull</option>
            <option value="Pug">Pug</option>
            <option value="Mixed">Mixed</option>
            <option value="Other">Other</option>
    </select>
    <button type="submit">Search</button>
    <p></p>
</form>

<div style="display: grid; grid-template-columns: repeat(8, 1fr); gap: 10px; justify-items: center;">
@{
    foreach(Animal a in Model)
    {
        <div style="display:grid; grid-template-areas: 'img' 'name' 'button';">  
            <a style="text-decoration:none; color:black; "asp-action="AnimalDetails" asp-route-id="@a.Id">
            <img style="grid-area:img;" src="@a.Img" height="100" width="auto" alt="@a.Img">
            <p style="grid-area:name;">@a.Name</p>
            <p style="grid-area:breed;">@a.Breed</p>    
            </a>
            <form method="post" action="/Home/AdoptAnimal/@a.Id">
                <button type="submit">Adopt!</button>
            </form>
        </div>  
    }
}

</div>
<p></p>
<div style ="text-align:center">
    <p>Do you have a furry friend in need of adoption?  Please fill out our simple form to add your friend to our pool of best friends!  </p>
    <a asp-action="AddAnimal">

        <button type="button">Add Friend</button>
    </a>
</div>

