@model List<Testimonial>
@using Adoption_MVC.Models

<h1>Testimonials</h1>

<form asp-action="AddTestimonial">
    <p>Tell us your name: </p>
    <input type="text" name="Owner"/>
    <p></p>
    <p>Tell us your pet's name:'</p>
    <input type="text" name="PetName"/>
    <p></p>
    <p>Pet Breed:</p>
    <input type="text" name="Breed" />
    <p></p>
    <p>Tell us your story: </p>
    <input type="text" name="Description" />
    <input type="submit" />
    <p></p>
</form>



@{
    var testimonialReversed = Model.OrderByDescending(t => t.DateTimeColumn);
}

@{
    foreach (var testimonial in testimonialReversed)
    {
        <div>
            <h3>@testimonial.PetName</h3>
            <p>Owner: @testimonial.Owner</p>
            <p>Breed: @testimonial.Breed</p>
            <p>Description: @testimonial.Description</p>
            <p>Date: @testimonial.DateTimeColumn</p>
        </div>
    }
}

